@import '../abstracts/variables';
@import '../abstracts/mixins';

.back-link {
  display: inline-block;
  color: $primary-color;
  margin-bottom: $spacing-lg;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.product-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-xl;
  margin-top: $spacing-lg;

  @include respond-to('md') {
    grid-template-columns: 1fr 1fr;
  }

  &__image {
    @include card;
    padding: $spacing-xl;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 500px;
      object-fit: contain;
    }
  }

  &__info {
    h1 {
      font-size: $font-size-xxl;
      margin-bottom: $spacing-md;
    }
  }

  &__price {
    font-size: $font-size-xl;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: $spacing-xl;
  }
}
