// Abstracts
@import './abstracts/variables';
@import './abstracts/mixins';

// Base
@import './base/reset';
@import './base/typography';

// Layout
@import './layout/container';

// Components
.app {
  min-height:  100vh;
  display:  flex;
  flex-direction:  column;
}