@import '../abstracts/variables';

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-md;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size:  $font-size-xl;
}

h3 {
  font-size: $font-size-lg;
}

p {
  margin-bottom: $spacing-md;
}